<h3>New Event</h3>

<div class="create_new_event">
<form action="/events" method="post">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="date" placeholder="date">
  <input type="text" name="time" placeholder="time">
  <input type="text" name="location" placeholder="location">
  {{!-- <input type="text" name="description" placeholder="description" class="biggerinput"> --}}
  <textarea name="description" rows="5" cols="70" wrap="soft" placeholder="description"></textarea>
  <input type="submit" value="Create Event" class="AddNewEvent">
</form>
</div>
