<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faith Forward</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:200" rel="stylesheet">
</head>
<body>
    <nav> 
        <h1>Faith Forward</h1>
        <button class="add"><a href="/events/new"> + New Event</a></button>
    </nav>
    
    {{{body}}}

    <footer></footer>
</body>
</html>