<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faith Forward</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope" rel="stylesheet">
</head>
<body>
    <nav> 
        <h1>Faith Forward</h1>
        <button class="add"><a href="/events/new"> + New Event</a></button>
        <ul class='user'>
            {{!-- {{#if currentUser}}
              <li><a href="/users/{{currentUser.id}}">User: {{currentUser.id}}</a></li>
              <li><a href="/logout">Logout</a></li>
            {{else}}
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            {{/if}} --}}
      </ul>
    </nav>
    
    {{{body}}}

    <footer></footer>
</body>
</html>