<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faith Forward</title>
    <link rel="stylesheet" href="/style.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope" rel="stylesheet">
</head>
<body>
    <nav> 
        <h1>Faith Forward</h1>
        <button class="add"><a href="/events/new"> + New Event</a></button>
        <div class="user">
        <p class="login">login</p>
        <p class="signup">sign up</p>
        </div>
    </nav>
    
    {{{body}}}
    <footer></footer>
</body>
</html>