/* Styling for the home page */

.header {
    width: 50%;
    font-family: 'Raleway', sans-serif;
}

.header h1 {
    font-size: 150%;
    color: rgb(209, 46, 46);
}

.navbar {
    background-color: white;
}

.btn-space {
    margin-left: 30px;
    margin-right: 5px;
    color: rgb(209, 46, 46);
}

.btn-space:hover {
    background-color: rgb(209, 46, 46);
    color: white;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    height: 200px;
}

.imageContainer img {
    /* flex-shrink: 0; */
    min-width: 100%;
    min-height: 100%;
}

.description {
    max-height: 20px;
    overflow: hidden;
}

img {
    position: cover;
    overflow: hidden;
}

.edit {
    text-decoration: none!important;
    padding: 10px; 
    background-color: rgb(244, 245, 169);
    color: black;
    max-width: 150px;
    border:none;
    margin-left: 10px;
    text-align: center;
}

.delete {
    padding: 10px;
    background-color: rgb(238, 200, 200);
    max-width: 150px;
    border: none;
    text-align: center;
    
}

.search-space {
    margin: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 900px) {
    .header h1 {
        font-size: 300%;
        color: rgb(209, 46, 46);
    }

    .header {
        width: 100%;
        text-align: center;
    }

    .btn-space {
        margin-left: 30px;
        margin-right: 5px;
        color: rgb(209, 46, 46);
        width: 100%;
        margin-left: 0;
    }

    .search-space {
        width: 100%;
        margin-left: 0px;
    }
}

/* Styling for the Event Show Page */

.show-page {
    width: 100%;
}

.show-page-image {
    max-width: 400px;
}

.show-page-info {
    margin-top: 10%;
}


