body {
    background-image: url('https://cdn.pixabay.com/photo/2013/02/23/20/57/washington-dc-85531_1280.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    background-color: whitesmoke;
}

nav {
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    /* margin-top: -85px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

nav h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: -5px 0px 10px 50px;
    font-size: 3em;
    color: darkred;
}
  
.add {
    border-radius:  8%/40%;
    height: 40px;
    background-color: rgba(237, 240, 245, 0);
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    margin-right: 5%;
    margin-top: 10px;
    border: 1px solid darkred;
    /* margin-left: 56%; */
    /* position: fixed; */

}

a {
    text-decoration: none;
    font: white;
}

.event {
    background-color: rgba(255, 255, 255, 0.466);
    /* width: 50%; */
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin-top: 10px;
    /* margin-left: 20px; */
    padding-left: 20px;
    padding-right: 20px;
}

/* .event:first-of-type {
    margin-bottom: 50px;
} */

.event:last-of-type {
    margin-bottom: 50px;
}

.event p {
    color: white;
}

.eventsContainer {
    margin-top: 80px;
    width: 50%;
}
.event h3 {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin: 0px;  
}

.whenContainer p {
    margin: 5px;
}

.when {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    color: darkred;
}

.clickables {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.clickables form input {
    padding: 10px;
    border-radius: 10%/30%;
    background-color:rgba(74, 130, 226, 0);
    border: none;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid darkred;
}

.clickables a {
    padding: 10px;
    border-radius: 10%/30%;
    background-color:rgba(74, 130, 226, 0);
    border: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 10px;
    border: 1px solid darkred;
}

/* Create a new event on the /events/new page */
.create_new_event {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   width: 30%;
   margin-left: 20%;
   margin: 0 auto;
   margin-top: 10%;
   /* border: 1px solid red; */
   /* height: 100%; */
}

.create_new_event input, .create_new_event textarea {
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    /* height: 15px; */
    /* border: 1px solid red; */
    font-family: Montserrat, 'sans-serif';
    font-size: 15px;
    outline: none;
}


.create_new_event input:focus, .create_new_event textarea:focus {
    border: 2px solid rgba(255, 0, 43, 0.699);
}

.AddNewEvent {
   background-color: rgba(255, 0, 43, 0.699);
   border: none;
   max-width: 150px;
   border-radius:  8%/40%;
   margin-left: 110px;
   margin: 0 auto;
   /* height: 10px; */
} 

.user {
    margin-right: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user p {
    margin-left: 10px;
}

.index_body {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 width: 100%;
 background-color: rgba(19, 18, 18, 0.342);
} 

.verse {
    width: 40%;
    height: 700px;
    background-image: url('https://i.pinimg.com/originals/e9/8a/51/e98a51185798fde1b064f9b9209a96f5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 90px;
    /* border: 2px solid red; */
    position: inherit;
    
    
}

.verse h2 {
    width: 40%;
    text-align: center;
    /* margin-top: 0%; */
    font-size: 30px;
    background-color: rgba(3, 2, 54, 0.15);
    /* background: radial-gradient(circle, whitesmoke, gray, black, .8); */
    /* height: 85%; */
    /* border: 1px solid red; */
    margin-top: 0%;
    font-family: 'Montserrat Alternates', sans-serif;
    /* padding-top: 30%; */
    position: fixed;
    color: white;
}